
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="../img/cbt1.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="../img/cbt2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="../img/cbt3.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="../img/cbt2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
        <div class="col s3">
          <h5> Quick Test </h5>
          <p>
            A<sup>+</sup> is a CBT Exam practice click <a href="">Here</a> to take a quick test as  guest. 
          </p>
        </div>
        <div class="col s3"><h5> Testing</h5></div>
        <div class="col s3"><h5> Testing </h5></div>
        <div class="col s3"><h5> Testing </h5></div>
    </div>
  </div>