<footer class="page-footer themecolor">
  <div class="themecolor">
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
    </div>
  </div>
</footer>
