  <nav class="themecolor">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">A<sup>+</sup></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sign Up</a></li>
        <li><a href="badges.html">Forgot Password ?</a></li>
      </ul>
    </div>
  </nav>